@mixin normal-font{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
//the 600 fonts
@mixin important-font {
  font-weight: 600;
}

@mixin dark-shadow {
  box-shadow: 5px 12px 20px rgba(17, 18, 19, 0.33);
}