$bg_gray: #888888;
$bar_start: #222222;
$red2: #D33060;
$red3: #BA1B4A;
$red_shadow: #450014;
$blue2: #3894FF;
$black2:#1a1a1a;
$light_white: #eeeeee;
$info-green: #43c59e;
$light_green:#aaf683;
$dark-border:#575757;
$dark-text-bg:#111111;


$block_side_padding : 52px;