@import url("https://use.typekit.net/nbq4wog.css");
@import './bootstrap-override.scss';
@import 'mixin';
@import 'variables';

// Additional global styles go below...

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

#app {
  background-color: theme-color('secondary');
  font-family: proxima-nova, sans-serif;
}
