@import './bootstrap-override.scss';

// Additional global styles go below...

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.table .thead-gray th {
  background-color: theme-color('muted');
}
